li {
    list-style: none;
    text-decoration: none;
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 75px;
}

.nav-buttons {
    width: 100%;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons > li {
    margin: 20px;
    font-family: 'Audiowide', cursive;
    color: #E2E3E5;
    text-decoration: none;
}

.greeting {
    position:relative;
}

.about-me {
    padding: 5px;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    padding-right: 50px;
    color: #577399;
}

a:visited {
    text-decoration: none;
    color: #577399;
}

a:hover {
    text-decoration: none;
    color: #577399;
}

button {
    text-decoration: none;
    padding: 5px ;
    width: 60px;
    margin-right: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #577399;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: #577399;;
}

input {
    margin-left: 25px;
    width: 150px;
    font-family: 'Quicksand', sans-serif;
    /* border: none; */
    border-radius: 5px;
    border-color: #577399;;
}
