.search-form {
    display: flex;
}

.search-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-img {
    width: 550px;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    box-shadow: 6px 6px #bdd5ea;
    border: #ceeaf7 1px solid;
}
