.your-task-links {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 20px;
    width: 100%;
    height: 700px;
}

.category {
    width: 550px;
    height: 300px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 6px 6px #bdd5ea;
    border: #ceeaf7 1px solid;
}

.title {
    align-items: center;
    justify-content: center;
    display: flex;
    width:1800px;
    margin-left: 30px;
}

.your-task {
    display: flex;
    justify-content: center;
    padding-right: 70px;
}

.user-info {
    display: grid;
    grid-template-columns: 600px 400px 400px;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 6px 6px #bdd5ea;
    border: #ceeaf7 1px solid;
}

.bio {
    margin-left: 50px;
}
